@font-face {
    font-family: 'FiraGO';
    src: url('../fonts/FiraGO-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FiraGO-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FiraGO-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/FiraGO-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/FiraGO-Regular.ttf')  format('truetype'), /* Safari, Android, iOS */
         url('../fonts/FiraGO-Regular.svg#svgFontName') format('svg'); /* Legacy iOS */
  }