@font-face {
    font-family: 'FiraGO';
    src: url('../fonts/FiraGO-Regular.eot'); /* IE9 Compat Modes */
    src: url('../fonts/FiraGO-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../fonts/FiraGO-Regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('../fonts/FiraGO-Regular.woff') format('woff'), /* Pretty Modern Browsers */
         url('../fonts/FiraGO-Regular.ttf')  format('truetype'); /* Safari, Android, iOS */
  }
  @font-face {
    font-family: 'football-font';
    src: url('../fonts/football-font.eot?18964591');
    src: url('../fonts/football-font.eot?18964591#iefix') format('embedded-opentype'),
         url('../fonts/football-font.woff2?18964591') format('woff2'),
         url('../fonts/football-font.woff?18964591') format('woff'),
         url('../fonts/football-font.ttf?18964591') format('truetype'),
         url('../fonts/football-font.svg?18964591#football-font') format('svg'); /* Legacy iOS */
    font-weight: normal;
    font-style: normal;
  }
p {
    color: rgba(96, 99, 104, .7);
    font-size: 12px;
}
.icon-sm{
    display:inline-block;
    height: 18px;
    height:18px;
}

.nav-link{
    color: $text-color-dark;
    &:hover{
        color: $text-color-dark;
    }
}
.navbar-light .navbar-nav .nav-link,
.navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active{
    color: $text-color-darker;
    transition: all .5s;
    &:hover{
        color: $text-color-dark;
        transition: all .5s;
        opacity:.8;
    }
}

[class^="icon-"]:before, [class*=" icon-"]:before {
    font-family: "football-font";
    font-style: normal;
    font-weight: normal;
    speak: never;
   
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: .2em;
    text-align: center;
    /* opacity: .8; */
   
    /* For safety - reset parent styles, that can break glyph codes*/
    font-variant: normal;
    text-transform: none;
   
    /* fix buttons height, for twitter bootstrap */
    line-height: 1em;
   
    /* Animation center compensation - margins should be symmetric */
    /* remove if not needed */
    margin-left: .2em;
   
    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
    
    /* Font smoothing. That was taken from TWBS */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
    /* Uncomment for 3D effect */
    /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
  }
  .icon-footsal:before { content: '\e800'; } /* '' */
  .icon-football:before { content: '\e804'; } /* '' */

  .football-icon{
    font-size: 19px;
    vertical-align: middle;
  }
 

@media screen and (min-width: 768px) {
    p{
        font-size: 14px;
    }
    
}